


<div class="container">

 <div id="photo_equipe">
  <img src="https://media.giphy.com/media/3o6Zt3OhbsQ5VLPmBW/giphy.gif" class="centered" width="472px" height="450px"/>
  <span id="dummy"></span>
</div>


</div>

<div class="container">
  <div id="text_equipe">
    <div class="col-md-12 col-lg-12">
      <h1 style="padding-top: 635px;"></h1>
      <h1>

      <label style="color:#32C3A2; z-index:1550;"> {{donator}}</label>&nbsp; has donated&nbsp;
      <label style="color:#32C3A2; z-index:1550;">{{amount}}</label>&nbsp;Dinars!
    </h1>
    <h1>{{message}}</h1>
    </div>
    </div>
  </div>
