<!-- <div class="transparent">
<div class="centered">

  <div id="photo_equipe">
      <img src="https://media.giphy.com/media/3o6Zt3OhbsQ5VLPmBW/giphy.gif" />
  </div>
  <input id="btnGif"
          type="button" (click)="startGif()"  class="btn btn-outline-primary border-box" style="color:aliceblue; margin-top: -120px;"
         value="display GIF"  >

        <span id="dummy"></span>

</div>
</div>


 -->


<div class="container">
 <div id="photo_equipe">
  <img src="https://media.giphy.com/media/3o6Zt3OhbsQ5VLPmBW/giphy.gif" class="centered" width="472px" height="450px"/>
  <span id="dummy"></span>


  <br/>
  <h1>

  <label style="color:#32C3A2"> {{donator}}</label>&nbsp; has donated&nbsp;
  <label style="color:#32C3A2">{{amount}}</label>&nbsp;Dinars!
</h1>
<h1>{{message}}</h1>
</div>
</div>





