


<div class="container">

 <div id="photo_equipe">
  <img src="https://media.giphy.com/media/3o6Zt3OhbsQ5VLPmBW/giphy.gif" class="centered" width="280px" height="260px"/>
  <span id="dummy"></span>
</div>


</div>

<div class="container">
  <div id="text_equipe">

    <div class="col-sm-12 col-md-12 col-lg-12">

      <h2>

      <label style="color:#32C3A2;">{{donator}}</label>&nbsp; has donated&nbsp;
      <label style="color:#32C3A2;">{{amount}}</label>&nbsp;Dinars!
    </h2>


      <h3>{{message}}</h3>





    </div>


  </div>
    </div>

