<button [disabled]="loading" type="submit"
class="btn btn-outline-primary border-box fix-it" style="color:aliceblue; margin-top: 40px;"
routerLink="/donation/SiportY!"
>
  Support SiportY!</button>

<div class="container style-fix">
  <br/>
  <br/>

<h3><Strong>About-us</Strong></h3>
<br/>

<p>
  In Tunisia, YouTubers, musician, influencers, content creators have become stars, their fans are increasing so fast. There are more than 500 influencers/content creators with more than 2 million fans in Tunisia. However, Influencers struggle to make a living from social media. Millions of people loved their videos, but only Dozens of Dinars were hitting their bank accounts. This did not add up, so we drafted up an idea about a website that would allow their fans to pay them directly for the value they were giving them.
  Supporters donate for creators by giving them the tools they need to acquire, manage, and energize their paying. With a donation, fans pay their favorite creator's amount of their choice in exchange for a message or an ad.
  This model is a win-win; creators retain creative freedom while getting the salary, they deserve, and fans get to rest easy knowing that their money goes directly towards creating more of what they love.


</p>
<br/>
<br/>
<br/>
<br/>



</div>
