<nav role="navigation">
  <div id="menuToggle" style="z-index: 99;">
    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <a *ngIf="!logIn" [routerLink]="['/login']">
        <li>Log In</li>
      </a>
      <a *ngIf="logIn" (click)="logout()">
        <li>Log Out</li>
      </a>
      <a [routerLink]="['/aboutUs']">
        <li>About Us</li>
      </a>
      <a [routerLink]="['/donation/SiportY!']">
        <li>Donate</li>
      </a>
      <a [routerLink]="['/contact']">
        <li>Contact</li>
      </a>
    </ul>
  </div>
</nav>
<app-navbar></app-navbar>
<!-- main app container -->
<div class="container">
  <alert></alert>
  <router-outlet></router-outlet>
  <app-footer *ngIf="url !== '/login'"></app-footer>
</div>

