<div class="container">
    <div class="col-lg-6 col-xs-6 col-md-6 col-sm-6" style="margin: auto; ">
<div class="modal-content transparent-cla" style="margin-top: 20px;" >
    <div class="modal-header text-center"></div>
        <form id="email" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
    <div class="modal-body mx-3">
      <div class="md-form mb-5">
          <label data-error="wrong"  class="modal-title w-100 font-weight-bold" data-success="right"  style="color: #32C3A2;">Set your email</label>
          <br/><br/>
          <input type="email"  placeholder="Your email" formControlName="email" required id="email" class="form-control validate"




          [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
           <div style="margin-left: 1rem; margin-top:-1rem" *ngIf="submitted && f.email.errors"
                class="invalid-feedback smaller">
                <div *ngIf="f.email.errors.required" class="smaller">Email is required</div>
              </div>
              <br/><br/>
      </div>

    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button [disabled]="loading" class="btn btn-outline-primary border-box" type="submit" style="color:#32C3A2;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Send&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </div>
  </form>
  </div>

</div>

</div>
