<button [disabled]="loading" type="submit"
class="btn btn-outline-primary border-box fix-it" style="color:aliceblue"
routerLink="/donation/SiportY!"
>
  Support SiportY!</button>
<div class="login_form">

  <section class="login-wrapper">
    <div class="logo">
      <a target="_blank" rel="noopener" href="https://unrealnavigation.com">
        <img style="margin-left: 40px" src="../../../assets/images/contact.png" alt="" /></a>
    </div>

    <form id="login" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <!-- Name -->
      <label for="name" class="smaller">&nbsp;&nbsp;&nbsp;Name</label>
      <input required name="login[name]" type="text" autocapitalize="off" autocorrect="off" formControlName="name"
      class="form-control smaller transparent-cla border-box" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
      <div  *ngIf="submitted && f.name.errors" class="invalid-feedback smaller">
        <div *ngIf="f.name.errors.required">&nbsp;&nbsp;&nbsp;Name is required</div>
      </div>
      <!-- E-mail -->
      <label for="email" class="smaller">&nbsp;&nbsp;&nbsp;E-mail</label>
      <input class="email" required name="login[email]" type="email" formControlName="email" class="form-control smaller transparent-cla border-box"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div  *ngIf="submitted && f.email.errors" class="invalid-feedback smaller">
        <div *ngIf="f.email.errors.required">&nbsp;&nbsp;&nbsp;Email is required</div>
      </div>
      <!-- content -->
      <label for="content" class="smaller">&nbsp;&nbsp;&nbsp;Message</label>

      <textarea class="message" required name="login[content]" type="text" formControlName="content"
      class="form-control smaller transparent-cla border-box" [ngClass]="{ 'is-invalid': submitted && f.content.errors }" cols="30" rows="5"></textarea>
      <div  *ngIf="submitted && f.content.errors" class="invalid-feedback smaller">
        <div *ngIf="f.content.errors.required">&nbsp;&nbsp;&nbsp;Message is required</div>
      </div>
      <button [disabled]="loading" type="submit" class="btn btn-outline-primary border-box" style="color:aliceblue">Send</button>

    </form>

  </section>

</div>
