<div class="logo">

  <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12 ">


     <div class="logo">

        <img src="../../../assets/images/logo.png" />
    </div>

      <form  id="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >


      <label for="username" class="dis-err" > Username</label>
      <input required name="login[username]" type="text" autocapitalize="off" autocorrect="off" placeholder="Username/Email"
        formControlName="username" class="transparent-cla border-box" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div  *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required" class="dis-err">  Username is required</div>
      </div>


      <label for="password" class="dis-err"> Password</label>
      <input   required name="login[password]" type="password" formControlName="password"
        placeholder="Password" class="transparent-cla border-box" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div  *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required" class="dis-err" > Password is required  </div>
      </div>
      <div class="button-box">
       <button [disabled]="loading" type="submit" class="btn   border-box">Login</button>
      <!-- <button routerLink="/register" class="btn   border-box">Register</button> -->
</div>
    </form>


    <label>

      <a routerLink="/register" style="color:#32C3A2;" >Create a new account</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a routerLink="/identification" style="color:#32C3A2;" >Forgot your password?</a>



    </label>


  </div>

 </div>
