

.transparent-cla {

  background-color: transparent;
  border-radius: 30px;

}
.border-box{
  border: 2px solid #32C3A2;
  color:aliceblue;
}

.button-box {
  text-align:center;
  margin-top:20px;
}



.dis-err {
  margin-right: 185px;
   padding-top: 20px;
}

