<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color" >
  <!-- <a class="navbar-brand" href="#"><img src="../../../assets/images/logo.png" width="100" height="100"
    alt="Siporty" /></a> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">

        <button   type="submit" class="btn   border-box" [routerLink]="['/donation/SiportY']">Support Siporty</button>&nbsp;&nbsp;
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link waves-effect waves-light " [routerLink]="['/register']" style="color: white;"><h2><strong class="border-box">&nbsp;Register&nbsp;</strong></h2>

          <i class="fas fa-sign-out-alt"></i>

        </a> -->
        <button   type="submit" class="btn   border-box" [routerLink]="['/register']">Register</button>&nbsp;&nbsp;

      </li>
      <li class="nav-item">
        <!-- <a class="nav-link waves-effect waves-light " [routerLink]="['/login']" style="color: white;" ><h2><strong class="border-box">&nbsp;Login&nbsp;</strong></h2>
          <i class="fas fa-sign-out-alt"></i>
        </a> -->
        <button   type="submit" class="btn   border-box" [routerLink]="['/login']">Login</button>
      </li>



    </ul>
  </div>
</nav>


















<section class="view intro-2 rgba-gradient">
  <div class="mask">
    <div class="container h-100 d-flex justify-content-center align-items-center">
      <div class="row flex-center pt-5 mt-3">
        <div class="col-md-12 col-lg-6 text-center text-md-left margins">
          <div class="white-text">
            <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s"
            size="52"
            style="color: white;"> From passion
              to profession
            </h1><br><br>
            <h2 class="wow fadeInLeft" data-wow-delay="0.3s">
              Monetize your steam with tips, sponsors and <b>GET PAID</b>

            </h2>
            <br>

            <!-- <a class="btn btn-white btn-rounded blue-text font-weight-bold ml-lg-0 wow fadeInLeft border-box"
              data-wow-delay="0.3s">Login</a>&nbsp;&nbsp;
            <a class="btn btn-outline-white btn-rounded font-weight-bold wow fadeInLeft border-box" data-wow-delay="0.3s">Register

            </a> -->
          </div>
        </div>

        <div class="col-md-12 col-lg-6  wow fadeInRight" data-wow-delay="0.3s">
          <img src="../../../assets/images/jelyandmeky.png" width="400" height="400" alt="" class="img-fluid" style="padding-left: 65px ;">


        </div>
      </div>
    </div>
  </div>
</section>


<!--Main Navigation-->

<!--Main content-->
<main>

<!--First container-->
<div class="container">

  <!--Section: Features v.1-->
  <section id="features" class="mb-5">

    <!--Section heading-->
    <h1 class="mb-3 my-5 pt-5 dark-grey-text wow fadeIn text-center" data-wow-delay="0.2s"><strong
        class="font-weight-bold" style="color: #32C3A2;">Siporty</strong>  </h1>

    <!--Section description-->

    <p class="text-center grey-text w-responsive mx-auto mb-5 wow fadeIn" style="text-transform: uppercase; font-size:18px;" data-wow-delay="0.2s">
      is a donation platform for Youtubers, Streamers and Musicians to get paid by their fans. <br><br>  With each donation,
      fans can interact with their favorite creators by leaving a message.<br>
       </p>

    <!--First row-->
    <div class="row features wow fadeIn" data-wow-delay="0.2s">

      <div class="col-lg-8 text-center">
        <div class="icon-area">

          <br>
          <div class="mt-1">
            <img src="../../../assets/images/streamers.png" width="600" height="600" alt="" class="img-fluid">
          </div>
        </div>
      </div>



      <div class="col-lg-4 text-center mb-4">
        <div class="icon-area">

          <br>
          <div class="mt-1">
            <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s"
            size="1120"
            style="color: white;font-size:200px;"> 90%
            </h1>
            <h3 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s"
            size="52"
            style="color: white;"> of the income goes to the creators</h3>
          </div>
        </div>
      </div>

    </div>
    <!--/First row-->

  </section>
  <!--/Section: Features v.1-->

</div>
<!--First container-->

<!--Second container-->

<!--Second container-->

<!--Third container-->

<!--/Third container-->

<!--/Fourth container-->
<div class="container">

  <!--Section: Pricing v.3-->
  <section class="mt-4 mb-5">

    <!--Section heading-->
    <h1 class="mb-3 my-5 pt-5 text-center dark-grey-text wow fadeIn" data-wow-delay="0.2s"><strong
        class="font-weight-bold" style="color: #32C3A2">Siporty</strong></h1>

    <!--Section description-->
    <!-- <p class="text-center w-responsive mx-auto my-5 grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Fugit, error amet numquam iure provident voluptate
      esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p> -->

    <!--First row-->
    <div class="row" >

      <!--First column-->
      <div class="col-lg-6 col-md-6 mb-6">
        <!--Card-->
        <div class="card">

          <!--Content-->
          <div class="text-center border-box" >
            <div class="card-body" style="background-color: #09161D;">
              <!-- <h5 style="color: #32C3A2">Basic plan</h5> -->
              <div class="d-flex justify-content-center">
                <!-- <div class="card-circle d-flex justify-content-center align-items-center">
                  <i class="fas fa-home blue-text"></i>
                </div> -->
              </div>

              <!--Price-->
              <!-- <h2 class="font-weight-bold dark-grey-text mt-3" style="color: #32C3A2"><strong>59$</strong></h2> -->
              <p class="grey-text" style="color: white">Siporty manages your tips and increases your revenue!</p>
              <!-- <a class="btn btn-blue font-weight-bold btn-rounded" style="color: #32C3A2">Buy now</a> -->
            </div>
          </div>

        </div>
        <!--/.Card-->
      </div>
      <!--/First column-->



      <!--Third column-->
      <div class="col-lg-6 col-md-6 mb-6">
        <!--Card-->
        <div class="card">

          <!--Content-->
          <div class="text-center border-box">
            <div class="card-body" style="background-color: #09161D;">
              <!-- <h5>Advanced plan</h5> -->
              <div class="d-flex justify-content-center">
                <!-- <div class="card-circle d-flex justify-content-center align-items-center">
                  <i class="fas fa-chart-bar blue-text"></i>
                </div> -->
              </div>

              <!--Price-->
              <!-- <h2 class="font-weight-bold dark-grey-text mt-3"><strong>99$</strong></h2> -->
              <p class="grey-text" style="color: white">Visualize your donation with the alert Box</p>
              <!-- <a class="btn btn-blue font-weight-bold btn-rounded">Buy now</a> -->
            </div>
          </div>

        </div>
        <!--/.Card-->
      </div>
      <!--/Third column-->

    </div>
    <!--/First row-->

  </section>
  <!--/Section: Pricing v.3-->

  <hr>


  <!--Section: Testimonials v.4-->

  <!--Section: Testimonials v.4-->

</div>
<!--/Fourth container-->

</main>
<!--Main content-->


<!--Footer-->
<footer class="page-footer text-center text-md-left blue-grey lighten-5 pt-0">



<!--Footer Links-->
<div class="container mt-5 mb-4 text-center text-md-left">
  <div class="row mt-3">

    <!--First column-->
    <div class="col-md-3 col-lg-4 col-xl-3 mb-4 dark-grey-text">
      <h6 class="text-uppercase font-weight-bold"><strong>Siporty</strong></h6>
      <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      <p>Is a donation website for content creators in Tunisia.</p>
    </div>
    <!--/.First column-->




    <!--Fourth column-->
    <div class="col-md-4 col-lg-3 col-xl-3 dark-grey-text">
      <h6 class="text-uppercase font-weight-bold"><strong>Contact</strong></h6>
      <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
       <p><i class="fa fa-envelope-square"></i>&nbsp;&nbsp;contact@siporty.tn</p>
      <p><i class="fa fa-phone"></i>&nbsp;&nbsp;20 97 15 35</p>
      <a href="https://www.facebook.com/SiportYY/" style="color: white;"><p><i class="fa fa-facebook-square"></i>&nbsp;&nbsp;Facebook/SiportYY</p></a>
      <a href="https://www.instagram.com/siportyy/" style="color: white;"> <p><i class="fa fa-instagram"></i>&nbsp;&nbsp;Instagram/SiportY</p></a>
     </div>
    <!--/.Fourth column-->

  </div>
</div>
<!--/.Footer Links-->


</footer>
