<div class="container container_">
  <table class="rwd-table">
    <tbody>
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>Message</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
      <ng-container *ngIf="notifications.length >= 0">
        <tr *ngFor="let notification of notifications | paginate: { itemsPerPage: 3, currentPage: p }; let i = index">
          <td data-th="ID">
            {{ i+1 }}
          </td>
          <td data-th="Name">
            {{ notification.name }}
          </td>
          <td data-th="Message">
            {{ notification.message }}
          </td>
          <td data-th="Amount">{{ notification.montant }} DT</td>
          <td data-th="Date">{{ notification.date }}</td>

        </tr>
      </ng-container>
    </tbody>
  </table>
  <pagination-controls class="" (pageChange)="p = $event"></pagination-controls>

</div>
