dl {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  position: relative;
  padding: 20px;
}

dt {
  align-self: flex-start;
  width: 100%;
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 130px;
}

.text {
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 40px;
  width: 130px;
  position: absolute;
  left: 0;
  justify-content: flex-end;
  color: white;
}

.percentage {
  font-size: 0.8em;
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  margin-left: 130px;
  background: repeating-linear-gradient(
    to right,
    #ddd,
    #ddd 1px,
    #fff 1px,
    #fff 5%
  );

  &:after {
    content: "";
    display: block;
    background-color: #1fd100;
    width: 50px;
    margin-bottom: 10px;
    height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  &:hover,
  &:focus {
    &:after {
      background-color: #aaa;
    }
  }
}

@for $i from 1 through 100 {
  .percentage-#{$i} {
    &:after {
      $value: ($i * 1%);
      width: $value;
    }
  }
}

.container_ {
  border-radius: 1rem;
  margin: 2rem auto;
  padding: 2rem 1rem;
  width: 100%;
  background-color: black;
}




@media (min-width: 481px) and (max-width: 767px) {

  dl {
    display: flex;
    background-color: black;
    flex-direction: column;
    width: 50%;
    max-width: 800px;
    position: relative;
  }

}


@media (min-width: 320px) and (max-width: 480px) {

  dl {
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
    margin-left: -3rem;
  }

}
