<button [disabled]="loading" type="submit" class="btn btn-outline-primary border-box fix-it" style="color:aliceblue">Support SiportY!</button>

<div class="container_">
  <dl>
    <dt style="color: white">
      Icome Per Month </dt>
    <dd *ngFor="let income of incomes" class="percentage percentage-{{income.amount}}">
      <span class="text">{{income.month}}: {{income.amount}}%</span>
    </dd>
    <br><br>
  </dl>
  <div class="row">

    <div class="col col-md-6">
      <h1 style="color: white">From</h1>
      <input class="form-control" type="date" id="example-datetime-local-input">
    </div>
    <div class="col col-md-6">
      <h1 style="color: white">To</h1>
      <input class="form-control" type="date" id="example-datetime-local-input">
    </div>
  </div>
</div>
