h2 {
  text-align: center;
  color: white;
}

.container_ {
  border-radius: 1rem;
  margin: 2rem auto;
  padding: 2rem 1rem;
  width: 90%;
  background-color: black;
}

.smaller{
  width: 70%;
  margin-left: 75px;
}

.transparent-cla {

  background-color: transparent;
  border-radius: 30px;

}
.fix-it{

  position: relative;
   top: -150px;
   right: -1070px;

}

.border-box{
  border: 2px solid #32C3A2;
}
