
<div class="row">

    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" align="center">

        <div class="cd-tabs js-cd-tabs" *ngIf="currentUser" >
            <nav>
      <ul style="margin-left: 10rem" class="cd-tabs__navigation js-cd-navigation">
        <li>
          <a  routerLinkActive="cd-selected" routerLink="/home"><label>Home</label></a>
        </li>
        <li><a  routerLinkActive="cd-selected" routerLink="/settings"><label>Settings</label></a></li>
        <li><a  routerLinkActive="cd-selected" routerLink="/income"><label>Income</label></a></li>
        <li>
          <a  routerLinkActive="cd-selected" routerLink="/notifications"><label>Notifications</label></a>
        </li>
      </ul>


</nav>
  </div>
</div>
</div>




