<!--
<div class="row">

    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" align="center">

        <div class="cd-tabs js-cd-tabs" *ngIf="currentUser" >
            <nav>
      <ul style="margin-left: 10rem" class="cd-tabs__navigation js-cd-navigation">
        <li>
          <a  routerLinkActive="cd-selected" routerLink="/home"><label>Home</label></a>
        </li>
        <li><a  routerLinkActive="cd-selected" routerLink="/settings"><label>Settings</label></a></li>
        <li><a  routerLinkActive="cd-selected" routerLink="/income"><label>Income</label></a></li>
        <li>
          <a  routerLinkActive="cd-selected" routerLink="/notifications"><label>Notifications</label></a>
        </li>
      </ul>


</nav>
  </div>
</div>
</div> -->

<!-- <div   class="cd-tabs js-cd-tabs" *ngIf="currentUser" >
    <div class="container">
<nav>
<div class="topnav">
    <a  routerLinkActive="active" routerLink="/home" >Home</a>
    <a  routerLinkActive="active" routerLink="/settings" >settings</a>
    <a routerLinkActive="active" routerLink="/income" >Income</a>
    <a routerLinkActive="active" routerLink="/notifications" >Notifications</a>
    <a routerLinkActive="active" [routerLink]="['/donation/SiportY']" >Donate</a>
    <a routerLinkActive="active" [routerLink]="['/contact']" >Contact</a>
    <a routerLinkActive="active" [routerLink]="['/aboutUs']">About-us</a>

    <a (click)="logout()">Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</nav>
</div>
</div> -->



<div class="header" *ngIf="currentUser">

    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
      <i class="fas fa-ellipsis-h"></i>
    </label>

    <ul class="menu">
      <a routerLinkActive="active" routerLink="/home" style="color:#32C3A2">Home</a>
      <a routerLinkActive="active" routerLink="/settings" style="color:#32C3A2">Settings</a>
      <a routerLinkActive="active" routerLink="/income" style="color:#32C3A2" >Income</a>
      <a routerLinkActive="active" routerLink="/notifications" style="color:#32C3A2" >Notifications</a>
      <a routerLinkActive="active" [routerLink]="['/donation/SiportY']" style="color:#32C3A2">Donate</a>
      <a routerLinkActive="active" [routerLink]="['/contact']" style="color:#32C3A2">Contact</a>
      <a routerLinkActive="active" [routerLink]="['/aboutUs']" style="color:#32C3A2">About-us</a>
      <a (click)="logout()" style="color:#32C3A2">Logout</a>
      <label for="chk" class="hide-menu-btn">
        <i class="fas fa-times"></i>
      </label>
    </ul>
  </div>
