<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>150</h3>

                    <p>New Orders</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>

                    <p>Bounce Rate</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>44</h3>

                    <p>User Registrations</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>65</h3>

                    <p>Unique Visitors</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <section class="col-lg-7 connectedSortable ui-sortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom" style="cursor: move;">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right ui-sortable-handle">
                    <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
                </ul>
                <div class="tab-content no-padding">
                    <!-- Morris chart - Sales -->
                    <div class="chart tab-pane active" id="sales-chart" style="position: relative; height: 300px;"><svg
                            height="300" version="1.1" width="653.906" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative;">
                            <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0
                            </desc>
                            <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                            <path fill="none" stroke="#3c8dbc"
                                d="M326.953,243.33333333333331A93.33333333333333,93.33333333333333,0,0,0,415.18075519497705,180.44625304313007"
                                stroke-width="2" opacity="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path>
                            <path fill="#3c8dbc" stroke="#ffffff"
                                d="M326.953,246.33333333333331A96.33333333333333,96.33333333333333,0,0,0,418.01664732624414,181.4248826052307L459.29463279246556,195.6693795646951A140,140,0,0,1,326.953,290Z"
                                stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <path fill="none" stroke="#f56954"
                                d="M415.18075519497705,180.44625304313007A93.33333333333333,93.33333333333333,0,0,0,243.2378462783141,108.73398312817662"
                                stroke-width="2" opacity="0"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                            <path fill="#f56954" stroke="#ffffff"
                                d="M418.01664732624414,181.4248826052307A96.33333333333333,96.33333333333333,0,0,0,240.54700205154563,107.40757544301087L205.8650097954186,90.31165416754118A135,135,0,0,1,454.5681459070204,194.03833029452744Z"
                                stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <path fill="none" stroke="#00a65a"
                                d="M243.2378462783141,108.73398312817662A93.33333333333333,93.33333333333333,0,0,0,326.9236784690488,243.333328727518"
                                stroke-width="2" opacity="0"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                            <path fill="#00a65a" stroke="#ffffff"
                                d="M240.54700205154563,107.40757544301087A96.33333333333333,96.33333333333333,0,0,0,326.9227359912682,246.3333285794739L326.91058849987417,284.9999933380171A135,135,0,0,1,205.8650097954186,90.31165416754118Z"
                                stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text
                                x="326.953" y="140" text-anchor="middle" font-family="&quot;Arial&quot;"
                                font-size="15px" stroke="none" fill="#000000"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 15px; font-weight: 800;"
                                font-weight="800" transform="matrix(1.4524,0,0,1.4524,-148.0533,-67.179)"
                                stroke-width="0.6885230654761905">
                                <tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Download Sales
                                </tspan>
                            </text><text x="326.953" y="160" text-anchor="middle" font-family="&quot;Arial&quot;"
                                font-size="14px" stroke="none" fill="#000000"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 14px;"
                                transform="matrix(1.9444,0,0,1.9444,-309.3498,-143.5556)"
                                stroke-width="0.5142857142857143">
                                <tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">12</tspan>
                            </text>
                        </svg></div>
                </div>
            </div>

            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Latest Orders</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Item</th>
                                    <th>Status</th>
                                    <th>Popularity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                    <td>Call of Duty IV</td>
                                    <td><span class="label label-success">Shipped</span></td>
                                    <td>
                                        <div class="sparkbar" data-color="#00a65a" data-height="20"><canvas width="34"
                                                height="20"
                                                style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="pages/examples/invoice.html">OR1848</a></td>
                                    <td>Samsung Smart TV</td>
                                    <td><span class="label label-warning">Pending</span></td>
                                    <td>
                                        <div class="sparkbar" data-color="#f39c12" data-height="20"><canvas width="34"
                                                height="20"
                                                style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="pages/examples/invoice.html">OR7429</a></td>
                                    <td>iPhone 6 Plus</td>
                                    <td><span class="label label-danger">Delivered</span></td>
                                    <td>
                                        <div class="sparkbar" data-color="#f56954" data-height="20"><canvas width="34"
                                                height="20"
                                                style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="pages/examples/invoice.html">OR7429</a></td>
                                    <td>Samsung Smart TV</td>
                                    <td><span class="label label-info">Processing</span></td>
                                    <td>
                                        <div class="sparkbar" data-color="#00c0ef" data-height="20"><canvas width="34"
                                                height="20"
                                                style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="pages/examples/invoice.html">OR1848</a></td>
                                    <td>Samsung Smart TV</td>
                                    <td><span class="label label-warning">Pending</span></td>
                                    <td>
                                        <div class="sparkbar" data-color="#f39c12" data-height="20"><canvas width="34"
                                                height="20"
                                                style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="pages/examples/invoice.html">OR7429</a></td>
                                    <td>iPhone 6 Plus</td>
                                    <td><span class="label label-danger">Delivered</span></td>
                                    <td>
                                        <div class="sparkbar" data-color="#f56954" data-height="20"><canvas width="34"
                                                height="20"
                                                style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                    <td>Call of Duty IV</td>
                                    <td><span class="label label-success">Shipped</span></td>
                                    <td>
                                        <div class="sparkbar" data-color="#00a65a" data-height="20"><canvas width="34"
                                                height="20"
                                                style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
                    <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
                </div>
                <!-- /.box-footer -->
            </div>
        </section>

        <section class="col-lg-5 connectedSortable ui-sortable">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Latest Members</h3>

                    <div class="box-tools pull-right">
                        <span class="label label-danger">8 New Members</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <ul class="users-list clearfix">
                        <li>
                            <img src="../../../assets/user.png" alt="User Image">
                            <a class="users-list-name" href="#">Alexander Pierce</a>
                            <span class="users-list-date">Today</span>
                        </li>
                        <li>
                            <img src="../../../assets/user.png" alt="User Image">
                            <a class="users-list-name" href="#">Norman</a>
                            <span class="users-list-date">Yesterday</span>
                        </li>
                        <li>
                            <img src="../../../assets/user.png" alt="User Image">
                            <a class="users-list-name" href="#">Jane</a>
                            <span class="users-list-date">12 Jan</span>
                        </li>
                        <li>
                            <img src="../../../assets/user.png" alt="User Image">
                            <a class="users-list-name" href="#">John</a>
                            <span class="users-list-date">12 Jan</span>
                        </li>
                        <li>
                            <img src="../../../assets/user.png" alt="User Image">
                            <a class="users-list-name" href="#">Alexander</a>
                            <span class="users-list-date">13 Jan</span>
                        </li>
                        <li>
                            <img src="../../../assets/user.png" alt="User Image">
                            <a class="users-list-name" href="#">Sarah</a>
                            <span class="users-list-date">14 Jan</span>
                        </li>
                        <li>
                            <img src="../../../assets/user.png" alt="User Image">
                            <a class="users-list-name" href="#">Nora</a>
                            <span class="users-list-date">15 Jan</span>
                        </li>
                        <li>
                            <img src="../../../assets/user.png" alt="User Image">
                            <a class="users-list-name" href="#">Nadia</a>
                            <span class="users-list-date">15 Jan</span>
                        </li>
                    </ul>
                    <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                    <a href="javascript:void(0)" class="uppercase">View All Users</a>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- Calendar -->
            <div class="box box-solid bg-green-gradient">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                    <i class="fa fa-calendar"></i>

                    <h3 class="box-title">Calendar</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <!-- button with a dropdown -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bars"></i></button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Add new event</a></li>
                                <li><a href="#">Clear events</a></li>
                                <li class="divider"></li>
                                <li><a href="#">View calendar</a></li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-success btn-sm" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-success btn-sm" data-widget="remove"><i
                                class="fa fa-times"></i>
                        </button>
                    </div>
                    <!-- /. tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <!--The calendar -->
                    <div id="calendar" style="width: 100%">
                        <div class="datepicker datepicker-inline">
                            <div class="datepicker-days" style="">
                                <table class="table-condensed">
                                    <thead>
                                        <tr>
                                            <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                        </tr>
                                        <tr>
                                            <th class="prev">«</th>
                                            <th colspan="5" class="datepicker-switch">April 2019</th>
                                            <th class="next">»</th>
                                        </tr>
                                        <tr>
                                            <th class="dow">Su</th>
                                            <th class="dow">Mo</th>
                                            <th class="dow">Tu</th>
                                            <th class="dow">We</th>
                                            <th class="dow">Th</th>
                                            <th class="dow">Fr</th>
                                            <th class="dow">Sa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="old day" data-date="1553990400000">31</td>
                                            <td class="day" data-date="1554076800000">1</td>
                                            <td class="day" data-date="1554163200000">2</td>
                                            <td class="day" data-date="1554249600000">3</td>
                                            <td class="day" data-date="1554336000000">4</td>
                                            <td class="day" data-date="1554422400000">5</td>
                                            <td class="day" data-date="1554508800000">6</td>
                                        </tr>
                                        <tr>
                                            <td class="day" data-date="1554595200000">7</td>
                                            <td class="day" data-date="1554681600000">8</td>
                                            <td class="day" data-date="1554768000000">9</td>
                                            <td class="day" data-date="1554854400000">10</td>
                                            <td class="day" data-date="1554940800000">11</td>
                                            <td class="day" data-date="1555027200000">12</td>
                                            <td class="day" data-date="1555113600000">13</td>
                                        </tr>
                                        <tr>
                                            <td class="day" data-date="1555200000000">14</td>
                                            <td class="day" data-date="1555286400000">15</td>
                                            <td class="day" data-date="1555372800000">16</td>
                                            <td class="day" data-date="1555459200000">17</td>
                                            <td class="day" data-date="1555545600000">18</td>
                                            <td class="day" data-date="1555632000000">19</td>
                                            <td class="day" data-date="1555718400000">20</td>
                                        </tr>
                                        <tr>
                                            <td class="day" data-date="1555804800000">21</td>
                                            <td class="day" data-date="1555891200000">22</td>
                                            <td class="day" data-date="1555977600000">23</td>
                                            <td class="day" data-date="1556064000000">24</td>
                                            <td class="day" data-date="1556150400000">25</td>
                                            <td class="day" data-date="1556236800000">26</td>
                                            <td class="day" data-date="1556323200000">27</td>
                                        </tr>
                                        <tr>
                                            <td class="day" data-date="1556409600000">28</td>
                                            <td class="day" data-date="1556496000000">29</td>
                                            <td class="day" data-date="1556582400000">30</td>
                                            <td class="new day" data-date="1556668800000">1</td>
                                            <td class="new day" data-date="1556755200000">2</td>
                                            <td class="new day" data-date="1556841600000">3</td>
                                            <td class="new day" data-date="1556928000000">4</td>
                                        </tr>
                                        <tr>
                                            <td class="new day" data-date="1557014400000">5</td>
                                            <td class="new day" data-date="1557100800000">6</td>
                                            <td class="new day" data-date="1557187200000">7</td>
                                            <td class="new day" data-date="1557273600000">8</td>
                                            <td class="new day" data-date="1557360000000">9</td>
                                            <td class="new day" data-date="1557446400000">10</td>
                                            <td class="new day" data-date="1557532800000">11</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="7" class="today" style="display: none;">Today</th>
                                        </tr>
                                        <tr>
                                            <th colspan="7" class="clear" style="display: none;">Clear</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="datepicker-months" style="display: none;">
                                <table class="table-condensed">
                                    <thead>
                                        <tr>
                                            <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                        </tr>
                                        <tr>
                                            <th class="prev">«</th>
                                            <th colspan="5" class="datepicker-switch">2019</th>
                                            <th class="next">»</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="7"><span class="month">Jan</span><span
                                                    class="month">Feb</span><span class="month">Mar</span><span
                                                    class="month focused">Apr</span><span class="month">May</span><span
                                                    class="month">Jun</span><span class="month">Jul</span><span
                                                    class="month">Aug</span><span class="month">Sep</span><span
                                                    class="month">Oct</span><span class="month">Nov</span><span
                                                    class="month">Dec</span></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="7" class="today" style="display: none;">Today</th>
                                        </tr>
                                        <tr>
                                            <th colspan="7" class="clear" style="display: none;">Clear</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="datepicker-years" style="display: none;">
                                <table class="table-condensed">
                                    <thead>
                                        <tr>
                                            <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                        </tr>
                                        <tr>
                                            <th class="prev">«</th>
                                            <th colspan="5" class="datepicker-switch">2010-2019</th>
                                            <th class="next">»</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="7"><span class="year old">2009</span><span
                                                    class="year">2010</span><span class="year">2011</span><span
                                                    class="year">2012</span><span class="year">2013</span><span
                                                    class="year">2014</span><span class="year">2015</span><span
                                                    class="year">2016</span><span class="year">2017</span><span
                                                    class="year">2018</span><span class="year focused">2019</span><span
                                                    class="year new">2020</span></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="7" class="today" style="display: none;">Today</th>
                                        </tr>
                                        <tr>
                                            <th colspan="7" class="clear" style="display: none;">Clear</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="datepicker-decades" style="display: none;">
                                <table class="table-condensed">
                                    <thead>
                                        <tr>
                                            <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                        </tr>
                                        <tr>
                                            <th class="prev">«</th>
                                            <th colspan="5" class="datepicker-switch">2000-2090</th>
                                            <th class="next">»</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="7"><span class="decade old">1990</span><span
                                                    class="decade">2000</span><span
                                                    class="decade focused">2010</span><span
                                                    class="decade">2020</span><span class="decade">2030</span><span
                                                    class="decade">2040</span><span class="decade">2050</span><span
                                                    class="decade">2060</span><span class="decade">2070</span><span
                                                    class="decade">2080</span><span class="decade">2090</span><span
                                                    class="decade new">2100</span></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="7" class="today" style="display: none;">Today</th>
                                        </tr>
                                        <tr>
                                            <th colspan="7" class="clear" style="display: none;">Clear</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="datepicker-centuries" style="display: none;">
                                <table class="table-condensed">
                                    <thead>
                                        <tr>
                                            <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                        </tr>
                                        <tr>
                                            <th class="prev">«</th>
                                            <th colspan="5" class="datepicker-switch">2000-2900</th>
                                            <th class="next">»</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="7"><span class="century old">1900</span><span
                                                    class="century focused">2000</span><span
                                                    class="century">2100</span><span class="century">2200</span><span
                                                    class="century">2300</span><span class="century">2400</span><span
                                                    class="century">2500</span><span class="century">2600</span><span
                                                    class="century">2700</span><span class="century">2800</span><span
                                                    class="century">2900</span><span class="century new">3000</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="7" class="today" style="display: none;">Today</th>
                                        </tr>
                                        <tr>
                                            <th colspan="7" class="clear" style="display: none;">Clear</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-black">
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Progress bars -->
                            <div class="clearfix">
                                <span class="pull-left">Task #1</span>
                                <small class="pull-right">90%</small>
                            </div>
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                            </div>

                            <div class="clearfix">
                                <span class="pull-left">Task #2</span>
                                <small class="pull-right">70%</small>
                            </div>
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-green" style="width: 70%;"></div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6">
                            <div class="clearfix">
                                <span class="pull-left">Task #3</span>
                                <small class="pull-right">60%</small>
                            </div>
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-green" style="width: 60%;"></div>
                            </div>

                            <div class="clearfix">
                                <span class="pull-left">Task #4</span>
                                <small class="pull-right">40%</small>
                            </div>
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-green" style="width: 40%;"></div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.box -->

        </section>
    </div>
    <!-- /.row (main row) -->

</section>