.link {
  text-align: center;
}

.link a {
  font-size: 30px;
  color: #4b4848;
}

.link a:hover {
  color: #1fd100;
}

.container_ {
  border-radius: 1rem;
  margin: 2rem auto;
  padding: 2rem 1rem;
  width: 90%;
  background-color: black;
}
