.link {
  text-align: center;
}

.link a {
  font-size: 30px;
  color: #4b4848;
}

.link a:hover {
  color: #1fd100;
}

.container_ {
  border-radius: 1rem;
  margin: 2rem auto;
  padding: 2rem 1rem;
  width: 90%;
  background-color: black;
}


@media (min-width: 481px) and (max-width: 767px) {

  .link a {
    font-size: 20px;
    text-align: center
  }


}


@media (min-width: 320px) and (max-width: 480px) {

  .link a {
    font-size: 20px;
    text-align: center
  }


}
