.link {
  text-align: center;
}

.link a {
  font-size: 30px;
  color: #4b4848;
}

.link a:hover {
  color: #1fd100;
}

.container {
  margin-bottom: 2rem;
  padding: 2rem 1rem;
  width: 90%;
  background-color: black;
}
