<button [disabled]="loading" type="submit"
class="btn btn-outline-primary border-box fix-it" style="color:aliceblue; margin-top: 40px;"
routerLink="/donation/SiportY!"
>
  Support SiportY!</button>



<div class="container style-fix">

  <p style="color: aliceblue"><strong>
    Thank you for supporting (id). We hope you support the website by donating through this <a routerLink="/donation/SiportY!">link</a>.

  </strong>
  </p>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
 <br/>
  <br/>
  <br/>
  <br/>
  <br/>

</div>
