.cnl {
  color: white;
  margin: 2rem 0 0 1rem;
  text-decoration: none;
  text-align: center;
}

.cnl:hover {
  color: #32C3A2;
}

.fix-it {
  margin-top: -55px;
  margin-left: -32px;
}

.smaller{
width: 70%;
margin-left: 75px;
}

.transparent-cla {

background-color: transparent;
border-radius: 30px;

}

.border-box{
border: 2px solid #32C3A2;
}
label {
  font-size: 2vmin;
 }
 button {
  font-size: 2vmin;
 }
