<!-- <div class="container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input
        type="text"
        formControlName="firstname"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"
      />
      <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
        <div *ngIf="f.firstname.errors.required">First Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input
        type="text"
        formControlName="lastname"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"
      />
      <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
        <div *ngIf="f.lastname.errors.required">Last Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
      />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">E-mail is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        formControlName="username"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
      />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Username is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
      />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">
          Password must be at least 6 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Register</button>
      <img
        *ngIf="loading"
        class="pl-3"
        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
      />
      <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
  </form>
</div> -->

<div class="login_form">
  <section class="login-wrapper">
    <div class="logo">
        <img src="../../../assets/images/logo.png"/>
    </div>

    <form id="login" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- First name-->
      <label for="firstname" class="smaller">&nbsp;&nbsp;&nbsp;First Name</label>
      <input required name="login[firstname]" type="text" autocapitalize="off" autocorrect="off"
        placeholder="Enter your first name" formControlName="firstname" class="form-control smaller transparent-cla border-box"
        [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
      <div style="margin-left: 1rem; margin-top:-1rem" *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
        <div *ngIf="f.firstname.errors.required" class="smaller">First Name is required</div>
      </div>
      <!-- Last name-->
      <label for="lastname" class="smaller">&nbsp;&nbsp;&nbsp;Last Name</label>
      <input class="lastname" required name="login[lastname]" type="lastname" formControlName="lastname"
        placeholder="Enter your last name" class="form-control smaller transparent-cla border-box"
        [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
      <div style="margin-left: 1rem; margin-top:-1rem" *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
        <div *ngIf="f.lastname.errors.required" class="smaller">Last Name is required</div>
      </div>
      <!-- Email-->
      <label for="email" class="smaller">&nbsp;&nbsp;&nbsp;E-mail</label>
      <input required name="login[email]" type="email" autocapitalize="off" autocorrect="off" formControlName="email"
        placeholder="Enter your Email" class="form-control smaller transparent-cla border-box" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div style="margin-left: 1rem; margin-top:-1rem" *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required" class="smaller">E-mail is required</div>
      </div>
      <!--  username-->
      <label for="username" class="smaller">&nbsp;&nbsp;&nbsp;Username</label>
      <input required name="login[username]" type="text" autocapitalize="off" autocorrect="off"
        placeholder="Enter your username" formControlName="username" class="form-control smaller transparent-cla border-box"
        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div style="margin-left: 1rem; margin-top:-1rem" *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required" class="smaller">Username is required</div>
      </div>
      <!-- Password-->
      <label for="password" class="smaller">&nbsp;&nbsp;&nbsp;Password</label>
      <input required name="login[password]" type="password" autocapitalize="off" autocorrect="off"
        placeholder="Enter your password" formControlName="password" class="form-control smaller transparent-cla border-box"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div style="margin-left: 1rem; margin-top:-1rem" *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required" class="smaller">Password is required </div>
        <div *ngIf="f.password.errors.minlength" class="smaller">Password must be at least 6 characters long. </div>
      </div>
      <button [disabled]="loading" type="submit" class="btn btn-outline-primary border-box" style="color:aliceblue">Register</button>
      <div class="cnl">
        <a routerLink="/login" class="cnl">Already have an account</a>
      </div>
    </form>
  </section>
</div>
